body
{
font-size:100%;
font-family:verdana,arial,'sans serif';
background-repeat:repeat-x;
background-color:#f5f4f0;
color:#251b03;
margin: 0 auto;
}

h1 {font-size:200%;}
h2 {font-size:140%;}
h3 {font-size:110%;}

table {font-size:100%;}
th {background-color:#ADD8E6;}
td {vertical-align:top;}

tr.active {background-color:#aaeeaa;}

ul {list-style:circle;}
ol {list-style:decimal;}

twocolumn {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/* unvisited link */
a:link {
    color: #b08d44;
}

/* visited link */
a:visited {
    color: #b08d44;
}

/* mouse over link */
a:hover {
    color: #cb8571;
}

/* selected link */
a:active {
    color: #b08d44;
}

button.timebutton {
    width: 80;
}

.footer {color:#b08d44;font-style:italic;}

.onoffswitch {
    position: relative; width: 67px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 16px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 45px;
    border: 2px solid #999999; border-radius: 16px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.glyphicon {
    font-size: 18px;
    vertical-align: middle;
}
